.header {
  margin-bottom: 500px;
  display: flex;
}

.Container {
  /* background-image: url('../img/posters.jpg'); */
  height: 100px;
  /* opacity: 0.8; */
  /* filter: brightness(0.5); */
}
.nav-bar {
  height: 122px;
  width: 100%;
}
.bg-light {
  background-color: #030405 !important;
  opacity: 0.8;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav :hover.nav-link {
  color: red;
}
.logoImg {
  width: 160px;
  position: absolute;
  top: -10px;
  left: 25px;
}
.logoImg .img {
  width: 160px;
}
.logInButton {
  position: absolute;
  right: 70px;
  width: 111px;
  /* height: 58px; */
  border-radius: 17px;

  font-size: 20px;
  font-weight: 600;
  color: #d0d0d0;
  background-color: #ad632b;
  border-color: #ad632b;
}
.logInButton:hover {
  color: rgb(0, 0, 0);
}
.me-auto,
.navbar-nav {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.links-nav {
  color: #d0d0d0;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}
.links-nav:hover {
  color: rgb(170 97 40);
}
