.header {
  margin-bottom: 500px;
  display: flex;
}

.Container {
  /* background-image: url('../img/posters.jpg'); */
  height: 100px;
  /* opacity: 0.8; */
  /* filter: brightness(0.5); */
}
.nav-bar {
  height: 122px;
  width: 100%;
}
.bg-light {
  background-color: #030405 !important;
  opacity: 0.8;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav :hover.nav-link {
  color: red;
}
.logoImg {
  width: 160px;
  /* margin-left: -88px; */
  display: flex;
}
.logoImg .img {
  width: 160px;
}
.logInButton {
  position: absolute;
  right: 70px;
  width: 111px;
  /* height: 58px; */
  border-radius: 17px;

  font-size: 20px;
  font-weight: 600;
}
.logInButton:hover {
  color: rgb(12, 152, 170);
}
